@charset "UTF-8";

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    grid-column: 1/3;
}

h2{
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    font-size: 1.1em;
}

label{
    color: gray;
}

form  input, textarea{
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: var(--corFundo);
    padding: 10px;
    margin-bottom: 15px;
}
form > div{
    display: flex;
    flex-direction: column;
}
form > div > div{
    display: flex;
    flex-direction: column;
}

div.conteudo{
    grid-template-columns: 1fr 85px;
    padding: 20px;
}

label.userAtivo{
    margin-left: auto;
}
label.userAtivo > input{
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px;
}
label.userAtivo > input:checked{
    background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

textarea{
    resize: none;
    height: 80px;
}

form button{
    height: 40px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    width: 200px;
    align-self: center;
    border: 10px;
    margin-bottom: 20px;
}

form > div{
    display: flex;
    justify-content: space-evenly;
}

form button.cadastrar{
    background-color: rgba(0, 128, 0, 0.7);
}
form button.excluir{
    background-color: rgba(128, 0, 0, 0.7);
}

@media screen and (min-width: 600px){
    form > div{
        flex-direction: row;
    }
    div.divEmail{
        margin-left: 20px;
        width: 100%;
    }
}