@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
}

@page{
    margin: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1em;
}

header{
    display: none;
}

aside{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
main button{
    display: none;
}
main img{
    height: 150px;
    filter: grayscale(100%);
}

tbody:has(tr:nth-child(10)){
    line-height: 1.5em;
}

td.inativo{
    color: rgba(128, 128, 128, 0.5);
}
