@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    
}

@page{
    margin: 0;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

header{
    display: none;
}

aside{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}
main button{
    display: none;
}
main img{
    height: 150px;
}

td.inativo{
    color: rgba(128, 128, 128, 0.5);
}
