@charset "UTF-8";

:root{
    --corHeader: #ededed;
    --corTitulo: #eff4fc;
    --corFundo: #f5f5f5;

    --anton-regular: "Anton", sans-serif;
    --roboto: "Roboto", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--roboto);
}
body{
    background-color: var(--corFundo);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "aside header header header" 
    "aside main main main"
    "aside main main main";
}

header{
    background-color: var(--corHeader);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 0px 20px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    grid-column: 2/5;
    grid-row: 1;
}
header > input{
    border: none;
    background-color: var(--corFundo);
    padding: 10px;
    border-radius: 5px;
}
header > section{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
header > section > .userLogado{
    padding: 15px 20px 0px 0px;
    border-right: 2px solid rgba(128, 128, 128, 0.218);
}
header img{
    background-color: gray;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
header > section > button.logout{
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 1em;
}

aside{
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.222);
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100vw;
    grid-row: 1/2;
}
aside > h1{
    background-color: var(--corTitulo);
    padding: 0px 15px;
    font-size: 0.7em;
    width: 250px;
}
aside > h1.logo::before{
    content: 'OC ';
    font-family: var(--anton-regular);
    font-size: 40px;
    font-weight: bolder;
    vertical-align: middle;
}

nav{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: left;
    margin-top: 50px;
}
nav > a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.808);
    padding: 6px;
    vertical-align: middle;
    font-weight: 500;
}
nav > a > span{
    vertical-align: middle;
}
a.cadastro{
    border-top: 2px solid rgba(128, 128, 128, 0.218);
    border-bottom: 2px solid rgba(128, 128, 128, 0.218);
    width: 250px;
}

.material-symbols-outlined{
    color: gray;
}

main{
    margin: 0px 20px;
    grid-column: 2/5;
    grid-row: 2/4;

    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

div.cards{ 
    background-color: white;
}
#total, #mês, #rev{
    text-align: center;
    padding: 50px;
    font-size: 4em;
}
section#total{
    color: rgb(0, 0, 150);
}
section#mês{
    color: rgb(0, 150, 0);
}
section#rev{
    color: rgb(150, 0, 0);
}

div.cards > p{
    text-align: end;
    color: gray;
    padding: 0px 10px 10px 0px;
}

div.conteudo{
    padding: 20px 10px;
    background-color: white;
    height: 100vh;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: 80px max-content;
}
div.conteudo > p{
    color: gray;
    text-align: start;
    font-weight: bold;
    margin-top: 10px;
}
div.conteudo > button.novoCadastro{
    height: 40px;
}

button.novoCadastro{
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    border-radius: 10px;
    width: 200px;
    justify-self: end;
    padding: 10px;
    border: 10px;
    grid-row: 1/2;
    grid-column: 3/4;
}
table{
    border-collapse: collapse;
    width: 100%;
    color: gray;
    grid-row: 2;
    grid-column: 1/4;
}
td, th{
    padding: 5px;
    text-align: start;
}
th{
    font-size: 0.8em;
    font-weight: 400;
}
td{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
}
td.inativo{
    color: rgba(128, 128, 128, 0.5);
}
tr:hover > td{
    background-color: rgba(128, 128, 128, 0.5);
}